---
name: Ask clarification on test results
about: Open an issue to ask clarification on test results with the INSPIRE Reference
  Validator
title: ''
labels: ''
assignees: ''

---

Please note that, following the [discontinuation of the central instance of the INSPIRE Reference Validator](https://knowledge-base.inspire.ec.europa.eu/news-and-publications/news/discontinuation-inspire-reference-validator-2026-04-01_en) on 1 April 2026, support in the helpdesk is only provided for interpretation/clarification of test results obtained using your own instance of the INSPIRE Reference Validator. No support will be provided on deployment issues.

To report an issue, please replace these lines with a brief summary of your issue and the expected behaviour.

To help us investigate the issue, you may want to include:

- a description of the steps to reproduce your issue
- the browser and version used
- a screenshot illustrating the problem
- the Test Report (ideally as an attachment to the issue)
- the URL of your service / the file you have uploaded or referenced (as an attachment).

If your service is protected or you have confidential data that you cannot upload here, you can request an email address to which you can send URLs / files. Please note that issues cannot be investigated for services/datasets that we cannot access.
